body {
    height: 100vh;
    margin: 0px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #E6DADA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header,
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001f3f;
}

#header {
    color: #FFFFFF;
    height: 10%;
    width: 100%;
    text-shadow:
        0 0 4px #fff,
        0 0 1px #fff
        /* If want a flicker animation:
        /* https://css-tricks.com/how-to-create-neon-text-with-css/ */
}

#header span {
    font-family: system-ui;
    font-style: italic;
    font-size: 40px;
}

#main {
    display: flex;
    height: 71%;
    min-height: 400px;
    justify-content: space-between;
    width: 100%;
}

#leftContainer {
    width: 20%;
}

#leftContainer p {
    padding-left: 5px;
    color: #FFFFFF;
    font-size: large;
    text-shadow:
        0 0 4px #fff,
        0 0 1px #fff
}

#midContainer,
#upperBarBtns,
#lowerBarBtns,
#numericalBtns,
#arithmeticBtns,
#calButtons {
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 16px;
}

#midContainer {
    /* background-color: #f0f8ff; */
    background-color: #000000;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 20%;
    min-width: 300px;
    padding: 10px;
}

#rightContainer {
    width: 20%;
    min-width: 0px;
}


#calScreen {
    padding: 3%;
    /* background-color: #585d58; */
    background-color: #001f3f;
    min-height: 22%;
    margin-bottom: 1%;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 16px;
    display: flex;
    flex-direction: column;
}

#calScreenUpper {

    height: 30%;
    flex-grow: 1;

}

#calScreenUpperPara {
    text-align: end;
    font-size: x-large;
    margin: 0px;
}

#calScreenLowerPara {
    text-align: end;
    font-size: 40px;
    margin: 0px;
}

#calScreenUpper p {
    color: #FFDC00;
    text-shadow:
        0 0 3px #FFDC00,
        0 0 1px #fff
}

#calScreenLower p {
    color: #01FF70;
    text-shadow:
        0 0 3px #01FF70,
        0 0 1px #fff
}

#calButtons {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-grow: 1;
}

#upperBarBtns button,
.numericRow button,
#arithmeticBtns button {
    font-family: serif;
    font-style: italic;
    flex-grow: 1;
    margin: 1px;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    border-radius: 10px;
    min-width: 0;

    font-size: x-large;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 16px;
}

#upperBarBtns button:active,
.numericRow button:active,
#arithmeticBtns button:active {
    transform: translateY(3px);
}

#upperBarBtns button:hover,
.numericRow button:hover,
#arithmeticBtns button:hover {
    filter: brightness(80%);
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

#upperBarBtns {
    display: flex;
    border: 1px solid black;
    height: 20%;
    margin: 1px;
    margin-bottom: 1%;
}

#acBtn {
    background-color: #FF4136;
    flex-grow: 4;
}

#delBtn,
#modulusBtn {
    background-color: #FF851B;
    flex-grow: 2;
}

#signBtn {
    background-color: #0074D9;
}

#lowerBarBtns {

    height: 85%;
    margin: 2px 2px 3px 2px;
    display: flex;

}

#numericalBtns {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-grow: 1;
}

.numericRow button {
    background-color: rgb(84 93 84);

}

#equalBtn {
    background-color: #04AA6D;
}

.numericRow {
    display: flex;
    justify-content: space-evenly;
    height: 25%;
}

#arithmeticBtns {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid black;
    margin: 1%;
}

#arithmeticBtns button {
    background-color: #FF851B;
    margin: 3%;
    font-size: xx-large;

}

#footer {
    height: 5%;
    width: 100%;
}